# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# Allure reports
allure-results/
allure-report/
.allure

# Build
build

# Logs
*.log
*.tmp

# Temporary files
*.tmp
*.swp
*~
.DS_Store
Thumbs.db
